text-align:left      : untuk perataan teks kiri
text-align:right     : untukperataantekskanan
text-align:center    : untukperataantekstengah
Background-image     : Digunakan untuk menentukan lokasi file yang akan dijadikan background image.
Backgorund-color     : Digunakan untuk menentukan warna latar belakang element HTML.
Backgournd-repeat    : Digunakan untuk menentukan perulangan penampilan image.
Background-position  : Menentukkan  posisi dari background.Border-width             : Digunakan untuk menetukkan ketebalan bingkai.
Border-style         : Digunakan  untuk menetukkan bentuk bingkai.
Border-color         : Digunakan untuk menentukkan warna bingkai.
Border-top           : Digunakan untuk mengatur jenis style border pada bagian atas selector
Border-bottom        : Digunakan untuk mengatur jenis style border pada bagian bawah  selector
Border-left          : Digunakan untuk mengatur jenis style border pada bagian kiri selector
Border-right         : Digunakan untuk mengatur jenis style border padabagian kanan selector
Height               : Menentukkan tinggi suatu elemen
Width                : Menentukkan lebar dari suatu elemen.
Margin               : Digunakan untuk memberikan spasi disisi  luar element.
Padding              : Digunakan untuk memberikan spasi pada  sisi dalams ebuah element.